@import './colors';

$sidebar-w: 17vw;
$sidebar-w-md: 27vw;
$sidebar-w-lg: 17vw;
$sidebar-w-sm: 0vw;
$sidebar-w-sm-open: 50vw;
$sidebar-w-closed: 0;
$main-navbar-h: 12vh;
$active-nav-bg: $light-brown;
$sidebar-w-mini: 80px;

body {
    background: #f8f9fa !important;
    font-weight: 200 !important;
}


.sidebar {
    position: fixed;
    width: $sidebar-w;
    height: 100vh;
    background: $dark_blue;
    z-index: 100;
    overflow: hidden;
    transition: 200ms !important;



    &.closed {
        width: $sidebar-w-mini !important;

        .sidebar-header {
            text-align: center !important;

            .title {
                display: none;
            }
        }

        .nav-item {
            width: fit-content !important;

            .nav-link {
                padding: 15px !important;

                span {
                    display: none;
                }
            }
        }

        // &:hover {
        //     width: $sidebar-w !important;

        //     .sidebar-header {
        //         text-align: center !important;

        //         .title {
        //             display: block !important;
        //         }
        //     }

        //     .nav-item {
        //         width: 100% !important;

        //         .nav-link {
        //             padding: 15px !important;

        //             span {
        //                 display: block;
        //             }
        //         }
        //     }
        // }

        @media screen and (max-width:768px) {
            width: $sidebar-w-sm-open !important;

            .sidebar-header {
                text-align: center !important;

                .title {
                    display: block !important;
                }
            }

            .nav-item {
                width: 100% !important;

                .nav-link {
                    padding: 15px !important;

                    span {
                        display: block;
                    }
                }
            }

        }

        @media screen and (max-width:600px) {
            width: 70vw !important;

            .sidebar-header {
                text-align: center !important;

                .title {
                    display: block !important;
                }
            }

            .nav-item {
                width: 100% !important;

                .nav-link {
                    padding: 15px !important;

                    span {
                        display: block;
                    }
                }
            }
        }
    }

    @media screen and (max-width:1300px) {
        width: $sidebar-w-lg !important;
    }

    @media screen and (max-width:1000px) {
        width: $sidebar-w-md !important;
    }

    @media screen and (max-width:768px) {
        width: $sidebar-w-sm !important;
    }

    .sidebar-header {
        display: flex;
        align-items: center;
        padding: 12px 20px;
        overflow: hidden;

    }

    .nav-item {
        width: 100% !important;
        padding: 5px 0px;
        border-radius: 0 !important;
        padding: 0px 15px;
        margin-left: auto !important;
        margin-right: auto !important;

        &.active {
            .nav-link {
                background: rgba(rgb(250, 250, 250), 0.3);
                color: rgb(255, 255, 255) !important;
                padding-top: 10px;
                margin: auto !important;
                padding-bottom: 10px;
                border-radius: 10px !important;
                // border-radius: 20px 0 0 20px;
            }
        }

        &:not(.active):hover {
            .nav-link {
                background: rgba(rgb(250, 250, 250), 0.1);
                color: rgb(255, 255, 255) !important;
                padding-top: 10px;
                margin: auto !important;
                padding-bottom: 10px;
                border-radius: 10px !important;
            }
        }

        .nav-link {
            border-radius: 20px 0 0 20px;
            transition: 200ms;
            display: flex !important;
            padding-top: 10px;
            padding-bottom: 10px;
            width: 100% !important;
            font-weight: 200 !important;

            span {
                margin-left: 18px;
            }
        }
    }
}

.sidebar-overlay-sm {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(#000, 0.3);
    top: 0 !important;
    left: 0 !important;
    z-index: 99;
    transition: 200ms;
    display: none;

    &.show {
        @media screen and (max-width:768px) {
            width: 100% !important;
            display: block;
        }
    }
}

main {
    margin-left: $sidebar-w;
    transition: 200ms !important;

    &.expanded {
        margin-left: $sidebar-w-mini !important;
    }

    .content {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }

    @media screen and (max-width:1300px) {
        margin-left: $sidebar-w-lg !important;
    }

    @media screen and (max-width:1000px) {
        margin-left: $sidebar-w-md !important;
    }

    @media screen and (max-width:768px) {
        margin-left: $sidebar-w-sm !important;
    }
}


.text-profile-pic {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    font-weight: 300 !important;
    align-items: center;
    border-radius: 50%;
    font-size: 0.8rem;
}

.table {
    .table-header {
        background: $dark-blue-accent !important;
        background-color: $dark-blue-accent !important;
    }
}

.create-form-card {
    border-top: 4px solid $dark-blue !important;
}

.row-collapse-toggler {}

.grades-card {
    border-top: 2px solid rgba($color: $dark-blue, $alpha: 0.5) !important;
}

.login-card {
    .login-content {
        z-index: 100 !important;
    }
}

#menu-toggler {
    &:focus {
        outline: none !important;
        box-shadow: none !important;
        border: none !important;
    }

    &:active {
        outline: none !important;
        box-shadow: none !important;
        border: none !important;
    }

    &:hover {
        outline: none !important;
        box-shadow: none !important;
        border: none !important;
    }

    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}


.bullet {
    width: 10px;
    height: 10px;
}

.bullet-sm {
    width: 8px;
    height: 8px;
}

.text-sm {
    font-size: 0.8rem !important;
}

.select-borderless {
    &:hover {
        border: none !important;
        box-shadow: none !important;
    }

    &:active {
        border: none !important;
        box-shadow: none !important;
    }

    &:visited {
        border: none !important;
        box-shadow: none !important;
    }

}

.dashboard {
    .attendance-wrapper{
        min-height: 40vh !important;
        max-height: 60vh !important;
        overflow-x: hidden !important;
        overflow-y: auto !important;
    }
}