@import './colors';

$navbar-h: 10vh;

.main-navbar {
    min-height: $navbar-h;

    .navbar-nav {
        gap: 40px !important;

        @media screen and (max-width:768px) {
            gap: unset !important;
        }

        .nav-link {
            font-size: 0.9rem !important;
        }
    }
}

body {
    background: rgba($color: $dark_blue, $alpha: 0.9);
}

.home-container {
    min-height: calc(100vh - $navbar-h);
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    height: fit-content;
    display: flex;
    align-items: center;
}

.card-chatbox {
    $radius: 1.1rem;
    border-radius: $radius !important;

    .card-header {
        border-top-left-radius: $radius !important;
        border-top-right-radius: $radius !important;
    }

    .card-footer {
        border-bottom-left-radius: $radius !important;
        border-bottom-right-radius: $radius !important;
    }

    .chatbox {
        height: 47vh;
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
        overflow: auto;
        padding-bottom: 20px !important;

        /* Scrollbar */
        /* width */
        &::-webkit-scrollbar {
            width: 2px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: rgba($color: $dark_blue, $alpha: 0.6);
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: rgba($color: $dark_blue, $alpha: 0.3);
        }

        /* end of Scrollbar */

        @media screen and (max-width:768px) {
            height: 42vh;
        }

        .chat-item {
            width: max-content;
            max-width: 70% !important;
            display: flex;
            gap: 10px;
            margin-bottom: 20px !important;

            @media screen and (max-width:768px) {
                max-width: 90% !important;
            }

            .chat {
                border: 1px solid rgba($color: $dark_blue, $alpha: 0.3);
                background: white;
                padding: 10px 14px;
                border-radius: 10px;
                line-height: 30px !important;
            }

            &.user {
                margin-left: auto;

                .avatar {
                    align-self: flex-end;
                    margin: 0;
                }
            }

            .avatar {
                align-items: baseline;

                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

    .chat-input-container {
        position: relative;

        .chat-input {
            padding: 20px 20px;
            transition: 300ms;

            &:focus {
                border: 1px solid rgba($color: $dark_blue, $alpha: 0.3) !important;
            }
        }

        button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 15px;
            width: 40px;
            height: 40px;
        }
    }

    .chatbox-container {
        position: relative;
        box-sizing: border-box !important;

        .suggestion-list {
            bottom: 15px;
            display: flex;
            gap: 10px;
            flex-wrap: wrap;

            .btn-query {}

            // .suggestion{
            //     padding: 10px;
            //     border-radius: 10px;
            //     border: 1px solid rgba($color: $dark_blue, $alpha: 0.3);
            //     color: rgba($color: $dark_blue, $alpha: 0.7);
            //     font-weight: 400 !important;
            // }
        }
    }
}

.login-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clickable{
    position: relative;
    cursor: pointer;
    &::before{
        content: " ";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba($color: rgb(157, 157, 157), $alpha:0.1);
        display: none;
    }
    &:hover{
        &::before{
            display: block;
        }
    }
    &:active{
        &::before{
            display: block;
            background: rgba($color: rgb(99, 99, 99), $alpha:0.2) !important;
        }
    }
}

.profile-dropdown{
    .dropdown-item{
        &:hover{
            color: white !important;
            background: rgba(gray,0.2);
        }
    }
}


.login-card{
    .login-content{
        z-index: 100 !important;
        position: static !important;
    }
    .card-body{
        padding: 40px 20px !important;
        @media screen and (max-width:768px) {
            padding: 10px 20px !important;
        }
    }
}

.form-control{
    &.custom{
        padding: 10px 20px !important;
    }
}