@import './colors';

$sidebar-w: 17vw;
$sidebar-w-md: 27vw;
$sidebar-w-lg: 17vw;
$sidebar-w-sm: 0vw;
$sidebar-w-sm-open: 50vw;
$sidebar-w-closed: 0;
$main-navbar-h: 10vh;
$main-navbar-h-sm: 70px;
$main-navbar-h-md: 12vh;
$active-nav-bg: $light-brown;
$sidebar-w-mini: 104px;
$footer-h: 5vh;

body {
    background: #f8f9fa !important;
    font-weight: 200 !important;
    width: 100vw !important;
    max-width: 100vw !important;
    box-sizing: border-box;
    overflow-x: hidden;
}

#navbar {
    height: $main-navbar-h;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    box-sizing: border-box;

    @media screen and (max-height:650px) {
        height: $main-navbar-h-md !important;
    }

    @media screen and (max-height:500px) {
        height: $main-navbar-h-sm !important;
    }
}

.sidebar {
    position: fixed;
    width: $sidebar-w-mini;
    top: $main-navbar-h;
    background: #F2F2F2;
    height: 100%;
    z-index: 100;
    overflow: hidden;
    transition: 200ms !important;
    box-shadow: 1px 1px 8px rgb(212, 212, 212) !important;

    .nav-item {
        width: fit-content !important;

        .nav-link {
            padding: 15px !important;

            span {
                display: none;
            }
        }
    }


    &.closed {
        width: $sidebar-w-mini !important;

        .sidebar-header {
            text-align: center !important;

            .title {
                display: none;
            }
        }

        .nav-item {
            width: fit-content !important;

            .nav-link {
                padding: 15px !important;

                span {
                    display: none;
                }
            }
        }

        @media screen and (max-width:1000px) {
            width: $sidebar-w-closed !important;

            .sidebar-header {
                text-align: center !important;

                .title {
                    display: block !important;
                }
            }

            .nav-item {
                width: 100% !important;

                .nav-link {
                    padding: 15px !important;

                    span {
                        display: none;
                    }
                }
            }

        }

        @media screen and (max-width:600px) {
            width: $sidebar-w-closed !important;

            .sidebar-header {
                text-align: center !important;

                .title {
                    display: block !important;
                }
            }

            .nav-item {
                width: 100% !important;
                text-align: center !important;

                .nav-link {
                    padding: 15px !important;

                    span {
                        display: none;
                    }
                }
            }
        }
    }

    // end of closed

    @media screen and (max-width:1300px) {
        width: $sidebar-w-mini !important;
    }

    @media screen and (max-width:1000px) {
        width: $sidebar-w-mini !important;
    }

    @media screen and (max-width:768px) {
        width: $sidebar-w-mini !important;
    }

    // height
    @media screen and (max-height:650px) {
        top: $main-navbar-h-md !important;
    }

    @media screen and (max-height:500px) {
        top: $main-navbar-h-sm !important;
    }

    .sidebar-header {
        display: flex;
        align-items: center;
        padding: 12px 20px;
        overflow: hidden;

    }

    .nav-item {
        width: 100% !important;
        padding: 5px 0px;
        border-radius: 0 !important;
        padding: 0px 15px;
        margin-left: auto !important;
        margin-right: auto !important;
        text-align: center !important;

        &.active {
            .nav-link {
                background: $green-accent;
                color: rgb(255, 255, 255) !important;
                padding-top: 10px;
                margin: auto !important;
                padding-bottom: 10px;
                border-radius: 15px !important;
                // border: 1px solid white;
                box-shadow: 2px 2px 5px rgb(197, 197, 197);
                // border-radius: 20px 0 0 20px;
            }
        }

        &:not(.active):hover {
            .nav-link {
                background: rgba($green-accent, 0.5);
                color: rgb(255, 255, 255) !important;
                padding-top: 10px;
                margin: auto !important;
                padding-bottom: 10px;
                border-radius: 15px !important;
                // border: 1px solid white;
                box-shadow: 2px 2px 5px rgb(197, 197, 197);
            }
        }

        .nav-link {
            background: transparent;
            color: rgb(59, 59, 59) !important;
            padding-top: 10px;
            margin: auto !important;
            padding-bottom: 10px;
            border: 1px solid transparent;
            border-radius: 15px !important;
            // box-shadow: 2px 2px 5px rgb(197, 197, 197);
        }
    }
}

.sidebar-overlay-sm {
    position: fixed !important;
    width: 100%;
    height: 100%;
    background: rgba(#000, 0.3);
    top: 0 !important;
    left: 0 !important;
    z-index: 99;
    transition: 200ms;
    display: none;

    &.show {
        display: block;

        @media screen and (max-width:768px) {
            width: 100% !important;
            display: block;
        }
    }
}

main {
    // min-height: calc(100vh - ($main-navbar-h + $footer-h));
    min-height: calc(100vh - $footer-h);
    transition: 200ms !important;
    width: 100vw !important;
    position: relative;
    padding-top: $main-navbar-h !important;
    padding-left: $sidebar-w;
    background: rgb(255, 255, 255) !important;
    box-sizing: border-box !important;

    &.expanded {
        padding-left: $sidebar-w-mini !important;

        @media screen and (max-width:1000px) {
            padding-left: $sidebar-w-closed !important;
        }

        @media screen and (max-width:768px) {
            padding-left: $sidebar-w-closed !important;
        }
    }

    .content {
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 20px;
        box-sizing: border-box !important;

        @media screen and (max-width:768px) {
            padding-left: 20px !important;
            padding-right: 20px !important;
        }

        @media screen and (max-width:600px) {
            padding-left: 20px !important;
            padding-right: 20px !important;
            box-sizing: border-box !important;
        }
    }

    @media screen and (max-width:1300px) {
        padding-left: $sidebar-w-lg !important;
    }

    @media screen and (max-width:1000px) {
        padding-left: $sidebar-w-md !important;
    }

    @media screen and (max-width:768px) {
        padding-left: $sidebar-w-closed !important;
    }

    // height
    @media screen and (max-height:650px) {
        padding-top: $main-navbar-h-md !important;
    }

    @media screen and (max-height:500px) {
        padding-top: $main-navbar-h-sm !important;
    }
}

.success-message {
    margin-left: $sidebar-w-mini;

    @media screen and (max-width:1300px) {
        margin-left: $sidebar-w-lg !important;
    }

    @media screen and (max-width:1000px) {
        margin-left: $sidebar-w-md !important;
    }

    @media screen and (max-width:768px) {
        margin-left: $sidebar-w-sm !important;
    }
}


.text-profile-pic {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    font-weight: 300 !important;
    align-items: center;
    border-radius: 50%;
    font-size: 0.8rem;
    box-shadow: 2px 2px 5px rgb(173, 173, 173) !important;

    &.md {
        width: 120px;
        height: 120px;
        font-size: 1.9rem;
    }

    &.lg {
        width: 150px !important;
        height: 150px !important;
        font-size: 1.9rem;
    }
}

.table {
    .table-header {
        background: $dark-blue-accent !important;
        background-color: $dark-blue-accent !important;
    }
}

.create-form-card {
    border-top: 4px solid $dark-blue !important;
}

.row-collapse-toggler {}

.grades-card {
    border-top: 2px solid rgba($color: $dark-blue, $alpha: 0.5) !important;
}

.login-card {
    .login-content {
        z-index: 100 !important;
    }
}

#menu-toggler {
    &:focus {
        outline: none !important;
        box-shadow: none !important;
        border: none !important;
    }

    &:active {
        outline: none !important;
        box-shadow: none !important;
        border: none !important;
    }

    &:hover {
        outline: none !important;
        box-shadow: none !important;
        border: none !important;
    }

    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}


.bullet {
    width: 10px;
    height: 10px;
}

.bullet-sm {
    width: 8px;
    height: 8px;
}

.text-sm {
    font-size: 0.8rem !important;
}

.select-borderless {
    &:hover {
        border: none !important;
        box-shadow: none !important;
    }

    &:active {
        border: none !important;
        box-shadow: none !important;
    }

    &:visited {
        border: none !important;
        box-shadow: none !important;
    }

}

.user-card {
    min-height: calc(100vh - calc($main-navbar-h + $footer-h));

    &__name {
        color: black;
        position: absolute;
        bottom: 10px;
        right: 10px;
        padding: 3px 20px;
        border-radius: 7px;
        max-width: 50% !important;
        background: rgba(255, 255, 255, 0.9);

        @media screen and (max-width:800px) {
            max-width: 60% !important;
        }

        p {
            font-weight: 400;
            font-size: 1.2rem !important;

            @media screen and (max-width:800px) {
                font-size: 1rem !important;
            }
        }
    }

    &__photo {
        position: absolute;
        bottom: -20%;
        left: 3%;

        @media screen and (max-width:768px) {
            // bottom: -10%;
        }

        .photo {
            font-size: 4rem !important;
            width: 180px !important;
            height: 180px !important;

            @media screen and (max-width:1500px) {
                font-size: 3.5rem !important;
                width: 140px !important;
                height: 140px !important;
            }

            @media screen and (max-width:1200px) {
                font-size: 2.5rem !important;
                width: 120px !important;
                height: 120px !important;
            }

            @media screen and (max-width:1000px) {
                font-size: 2.5rem !important;
                width: 150px !important;
                height: 150px !important;
            }

            @media screen and (max-width:768px) {
                font-size: 4rem !important;
                width: 150px !important;
                height: 150px !important;
            }

        }
    }
}


.footer {
    height: $footer-h;
    width: 100vw;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f3f3;
    padding-left: $sidebar-w-mini;
    box-sizing: border-box !important;

    @media screen and (max-width:1300px) {
        padding-left: $sidebar-w-lg !important;
    }

    @media screen and (max-width:1000px) {
        padding-left: $sidebar-w-md !important;
    }

    @media screen and (max-width:768px) {
        padding-left: $sidebar-w-closed !important;
    }
}

.content-header {
    padding: 20px 10px;
    background: #f3f3f3;
    border-radius: 15px;
    box-shadow: 1px 1px 2px rgb(212, 212, 212);
}


.edit-profile-photo-group {
    width: max-content;
    margin-bottom: 25px;

    .wrapper {
        position: relative;

        .camera-btn {
            width: 40px;
            height: 40px;
            background: $brown;
            border-radius: 50%;
            border: 1px solid white;
            box-shadow: 1px 1px 3px gray;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 0px;
            bottom: 0px;
            opacity: 0.8;
            transition: 200ms;
            cursor: pointer;

            * {
                cursor: pointer;
            }

            &:hover {
                opacity: 1;
            }

            i {
                color: white !important;
            }
        }
    }
}