.main-navbar {
  min-height: 10vh;
}
.main-navbar .navbar-nav {
  gap: 40px !important;
}
@media screen and (max-width: 768px) {
  .main-navbar .navbar-nav {
    gap: unset !important;
  }
}
.main-navbar .navbar-nav .nav-link {
  font-size: 0.9rem !important;
}

body {
  background: rgba(23, 35, 58, 0.9);
}

.home-container {
  min-height: 90vh;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
}

.card-chatbox {
  border-radius: 1.1rem !important;
}
.card-chatbox .card-header {
  border-top-left-radius: 1.1rem !important;
  border-top-right-radius: 1.1rem !important;
}
.card-chatbox .card-footer {
  border-bottom-left-radius: 1.1rem !important;
  border-bottom-right-radius: 1.1rem !important;
}
.card-chatbox .chatbox {
  height: 47vh;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  overflow: auto;
  padding-bottom: 20px !important;
  /* Scrollbar */
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  /* end of Scrollbar */
}
.card-chatbox .chatbox::-webkit-scrollbar {
  width: 2px;
}
.card-chatbox .chatbox::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.card-chatbox .chatbox::-webkit-scrollbar-thumb {
  background: rgba(23, 35, 58, 0.6);
}
.card-chatbox .chatbox::-webkit-scrollbar-thumb:hover {
  background: rgba(23, 35, 58, 0.3);
}
@media screen and (max-width: 768px) {
  .card-chatbox .chatbox {
    height: 42vh;
  }
}
.card-chatbox .chatbox .chat-item {
  width: -moz-max-content;
  width: max-content;
  max-width: 70% !important;
  display: flex;
  gap: 10px;
  margin-bottom: 20px !important;
}
@media screen and (max-width: 768px) {
  .card-chatbox .chatbox .chat-item {
    max-width: 90% !important;
  }
}
.card-chatbox .chatbox .chat-item .chat {
  border: 1px solid rgba(23, 35, 58, 0.3);
  background: white;
  padding: 10px 14px;
  border-radius: 10px;
  line-height: 30px !important;
}
.card-chatbox .chatbox .chat-item.user {
  margin-left: auto;
}
.card-chatbox .chatbox .chat-item.user .avatar {
  align-self: flex-end;
  margin: 0;
}
.card-chatbox .chatbox .chat-item .avatar {
  align-items: baseline;
}
.card-chatbox .chatbox .chat-item .avatar img {
  width: 30px;
  height: 30px;
}
.card-chatbox .chat-input-container {
  position: relative;
}
.card-chatbox .chat-input-container .chat-input {
  padding: 20px 20px;
  transition: 300ms;
}
.card-chatbox .chat-input-container .chat-input:focus {
  border: 1px solid rgba(23, 35, 58, 0.3) !important;
}
.card-chatbox .chat-input-container button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: 40px;
  height: 40px;
}
.card-chatbox .chatbox-container {
  position: relative;
  box-sizing: border-box !important;
}
.card-chatbox .chatbox-container .suggestion-list {
  bottom: 15px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clickable {
  position: relative;
  cursor: pointer;
}
.clickable::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(157, 157, 157, 0.1);
  display: none;
}
.clickable:hover::before {
  display: block;
}
.clickable:active::before {
  display: block;
  background: rgba(99, 99, 99, 0.2) !important;
}

.profile-dropdown .dropdown-item:hover {
  color: white !important;
  background: rgba(128, 128, 128, 0.2);
}

.login-card .login-content {
  z-index: 100 !important;
  position: static !important;
}
.login-card .card-body {
  padding: 40px 20px !important;
}
@media screen and (max-width: 768px) {
  .login-card .card-body {
    padding: 10px 20px !important;
  }
}

.form-control.custom {
  padding: 10px 20px !important;
}/*# sourceMappingURL=app.css.map */